include ../mixins/title
include ../mixins/newestCard
include ../mixins/more


-
  var cards1 = [
    {
      title: 'Milford Woman Dies at Hands of Husband Despite Tougher Domestic Violence Laws',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'A News Story from the Mass Media',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'Milford Woman Dies at Hands of Husband Despite Tougher Domestic Violence Laws',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'A News Story from the Mass Media',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'Milford Woman Dies at Hands of Husband Despite Tougher Domestic Violence Laws',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'A News Story from the Mass Media',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'Milford Woman Dies at Hands of Husband Despite Tougher Domestic Violence Laws',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'A News Story from the Mass Media',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'Milford Woman Dies at Hands of Husband Despite Tougher Domestic Violence Laws',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'A News Story from the Mass Media',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'Milford Woman Dies at Hands of Husband Despite Tougher Domestic Violence Laws',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'A News Story from the Mass Media',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'Milford Woman Dies at Hands of Husband Despite Tougher Domestic Violence Laws',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    }
  ];

  var newestCard = [
    {
      title: 'Milford Woman Dies at Hands of Husband Despite Tougher Domestic Violence Laws',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'A News Story from the Mass Media',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    },
    {
      title: 'Milford Woman Dies at Hands of Husband Despite Tougher Domestic Violence Laws',
      subtitle: 'Law Article Undergraduate',
      pages: 'Pages: 1 (250 words)',
      date: 'May 10, 2018'
    }
  ];

section.page.page_one

  span.main__logo-desktop
    img(src='/img/logo_color.svg', alt='Essay USA')

  .page__crumbs
    p Types of examples > Admission/Application Essay

  .page__content
    .page__col
      h1.page__title Admission/ Application Essay Example and Samples

      each card in cards1
        +pageCard(card)

    .page__col
      .page__lokking
        +pageTitleReverse('Also','Looking for')(class="page__subtitle")

        ul.looking__list
          li.looking__item
            a.looking__link(href="#") Admission / Application Visual Arts and Film Studies Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Sociology Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Religion and Theology Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Psychology Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Philosophy Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Nursing Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Music Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Marketing Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Management Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Macro and Microeconomics Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Literature Essay
          li.looking__item
            a.looking__link(href="#") Admission / Application Law Essay

      .page__free
        .title__wrap
          h1.page__free-title
            .title.title_accent.title_accent-white Free Essays
            .title.title_white.page__free-title_big Online

        p.text_white Academic writing is a skill tested by most instructors through assignments. These projects come in different formats and types and are often accompanied by prompts that outline the specific instructions for the students. While some students are able to easily complete their projects, others struggle considerably. If you are unable to get started on your task and need some inspiration, then you are in the right place. In this article, we cover useful tips on how you can write a stellar paper, as well as the important lessons that students can learn from samples of free essays available online. We also highlight places where students can get affordable help with their assignments.

        button.button.free__button FIND A SAMPLE

      .page__newest
        +titleReverse('Newest ', 'Essays')(class="page__subtitle")

        each card in newestCard
          +pageCard(card)

        .page__more
          +more()
