footer.footer
  p.text_bold.text_white.footer__header Happy to help you

  .footer__24.text_white 24/7

  p.text_bold.text_white Feel free to get in touch with us via email:

  a.footer__mail(href="mailto:support@essaysusa.com") support@essaysusa.com

  a.footer__link(href="#") About Us
  a.footer__link(href="#") How it works
  a.footer__link(href="#") Choose your paper
  a.footer__link(href="#") Choose your Subject
