mixin howBlock(options)
  .how-block__block(data-aos="zoom-out-right", data-aos-delay= options.delay)
    .how-block__index= options.index
    .how-block__container
      .how-block
        .how-block__text= options.text
