mixin title(one, two)
  .title__wrap
    h1
      .title.title_accent= one
      .title= two

mixin titleWhite(one, two)
  .title__wrap
    h1
      .title.title_accent.title_accent-white= one
      .title.title_white= two
