//- meta
meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

meta(name="description" content="EssaysUsa")
meta(name="keywords" content="essay")

//- favicons
link(rel="apple-touch-icon" sizes="180x180" href="/img/icons/favicons/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicons/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicons/favicon-16x16.png")
link(rel="manifest" href="/img/icons/favicons/site.webmanifest")
link(rel="mask-icon" href="/img/icons/favicons/safari-pinned-tab.svg" color="#554264")
link(rel="shortcut icon" href="/img/icons/favicons/favicon.ico")
meta(name="msapplication-TileColor" content="#554264")
meta(name="msapplication-config" content="/img/icons/favicons/browserconfig.xml")
meta(name="theme-color" content="#554264")

//- fonts
link(href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet")

//- open graph
meta(property="og:type" content="website")
meta(property="og:title" content="EssaysUsa")
meta(property="og:description" content="EssaysUsa.com - Find Best Ideas for Your Essay")
meta(property="og:image" content="---")
meta(property="og:url" content="http://essaysusa.com")
meta(name="twitter:image" content="/img/og-image.png")
meta(name="twitter:title" content="EssaysUsa.com")
meta(name="twitter:url" content="http://essaysusa.com")
meta(name="twitter:card" content="EssaysUsa.com")
meta(name="twitter:description" content="Find Best Ideas for Your Essay")

//- style
link(rel='stylesheet', href='css/build.css')
link(href="https://unpkg.com/aos@2.3.1/dist/aos.css", rel="stylesheet")