doctype html

- var title = 'ESSAYS USA';

html(lang='en')
  block vars
  head
    title #{title}
    block head
      include head

  body(class= bodyClass)
    block noscript
      include noscript

    block menu
      include menu/menu

    block content

    block footer
      include footer/footer

    block modals
      include modals

  block scripts
    include scripts
