#paper.paper
  ul.paper__list
    li.paper__item
      a.paper__link(href="#") Admission/Application Essay
    li.paper__item
      a.paper__link(href="#") Annotated Bibliography
    li.paper__item
      a.paper__link(href="#") Article
    li.paper__item
      a.paper__link(href="#") Assignment
    li.paper__item
      a.paper__link(href="#") Book Report/Review
    li.paper__item
      a.paper__link(href="#") Case Study

  ul.paper__list
    li.paper__item
      a.paper__link(href="#") Coursework
    li.paper__item
      a.paper__link(href="#") Dissertation
    li.paper__item
      a.paper__link(href="#") Essay
    li.paper__item
      a.paper__link(href="#") Lab Report
    li.paper__item
      a.paper__link(href="#") Literature review
    li.paper__item
      a.paper__link(href="#") Math Problem

  ul.paper__list
    li.paper__item
      a.paper__link(href="#") Movie Review
    li.paper__item
      a.paper__link(href="#") Outline
    li.paper__item
      a.paper__link(href="#") Personal Statement
    li.paper__item
      a.paper__link(href="#") PowerPoint Presentation
    li.paper__item
      a.paper__link(href="#") Research Paper
    li.paper__item
      a.paper__link(href="#") Research Proposal

  ul.paper__list
    li.paper__item
      a.paper__link(href="#") Scholarship Essay
    li.paper__item
      a.paper__link(href="#") Speech or Presentation
    li.paper__item
      a.paper__link(href="#") Statistics Project
    li.paper__item
      a.paper__link(href="#") Term Paper
    li.paper__item
      a.paper__link(href="#") Thesis
    li.paper__item
      a.paper__link(href="#") Thesis Proposal
