#paper.paper
  .paper__header
    a#paper-close.navbar__burger
      img(src='/img/icons/p-close.svg', alt='Close menu')

  .paper__subheader
    .paper__subheader-img
      img(src='/img/icons/back.svg', alt='Close menu')
    .paper__subheader-title Choose your paper

  .paper__content
    ul.paper__list
      li.paper__item
        a.paper__link(href="#") Admission/Application Essay
      li.paper__item
        a.paper__link(href="#") Annotated Bibliography
      li.paper__item
        a.paper__link(href="#") Article
      li.paper__item
        a.paper__link(href="#") Assignment
      li.paper__item
        a.paper__link(href="#") Book Report/Review
      li.paper__item
        a.paper__link(href="#") Case Study

    ul.paper__list
      li.paper__item
        a.paper__link(href="#") Coursework
      li.paper__item
        a.paper__link(href="#") Dissertation
      li.paper__item
        a.paper__link(href="#") Essay
      li.paper__item
        a.paper__link(href="#") Lab Report
      li.paper__item
        a.paper__link(href="#") Literature review
      li.paper__item
        a.paper__link(href="#") Math Problem

    ul.paper__list
      li.paper__item
        a.paper__link(href="#") Movie Review
      li.paper__item
        a.paper__link(href="#") Outline
      li.paper__item
        a.paper__link(href="#") Personal Statement
      li.paper__item
        a.paper__link(href="#") PowerPoint Presentation
      li.paper__item
        a.paper__link(href="#") Research Paper
      li.paper__item
        a.paper__link(href="#") Research Proposal

    ul.paper__list
