#subject.paper
  .paper__header
    a#subject-close.navbar__burger
      img(src='/img/icons/p-close.svg', alt='Close menu')

  .paper__subheader
    .paper__subheader-img
      img(src='/img/icons/back.svg', alt='Close menu')
    .paper__subheader-title Choose your Subject

  .paper__content
    .subject__col
      p.text_bold.text_uppercase APPLIED SCIENCE
      ul.paper__list
        li.paper__item
          a.paper__link(href="#") Agriculture
        li.paper__item
          a.paper__link(href="#") Engineering and Construction
        li.paper__item
          a.paper__link(href="#") Information Technology
        li.paper__item
          a.paper__link(href="#") Military
        li.paper__item
          a.paper__link(href="#") Technology

      p.text_bold.text_uppercase FORMAL SCIENCE & PHYSICAL SCIENCE
      ul.paper__list
        li.paper__item
          a.paper__link(href="#") Chemistry
        li.paper__item
          a.paper__link(href="#") Environmental Studies
        li.paper__item
          a.paper__link(href="#") Formal science & Physical science
        li.paper__item
          a.paper__link(href="#") Geography
        li.paper__item
          a.paper__link(href="#") Logic & Programming
        li.paper__item
          a.paper__link(href="#") Mathematics
        li.paper__item
          a.paper__link(href="#") Physics
        li.paper__item
          a.paper__link(href="#") Statistics

    .subject__col
      p.text_bold.text_uppercase BUSINESS
      ul.paper__list
        li.paper__item
          a.paper__link(href="#") Business
        li.paper__item
          a.paper__link(href="#") E-Commerce
        li.paper__item
          a.paper__link(href="#") Finance & Accounting
        li.paper__item
          a.paper__link(href="#") Human Resources
        li.paper__item
          a.paper__link(href="#") Macro & Microeconomics
        li.paper__item
          a.paper__link(href="#") Management
        li.paper__item
          a.paper__link(href="#") Marketing

      p.text_bold.text_uppercase HUMANITARIAN
      ul.paper__list
        li.paper__item
          a.paper__link(href="#") Biographies
        li.paper__item
          a.paper__link(href="#") Creative Writing
        li.paper__item
          a.paper__link(href="#") English
        li.paper__item
          a.paper__link(href="#") Humanitarian
        li.paper__item
          a.paper__link(href="#") Literature

    .subject__col
      p.text_bold.text_uppercase PROFESSIONAL
      ul.paper__list
        li.paper__item
          a.paper__link(href="#") Architecture
        li.paper__item
          a.paper__link(href="#") Design & Technology
        li.paper__item
          a.paper__link(href="#") Education
        li.paper__item
          a.paper__link(href="#") Family & Consumer Science
        li.paper__item
          a.paper__link(href="#") Journalism & Communication
        li.paper__item
          a.paper__link(href="#") Music
        li.paper__item
          a.paper__link(href="#") Performing Arts
        li.paper__item
          a.paper__link(href="#") Professional
        li.paper__item
          a.paper__link(href="#") Sports & Recreation
        li.paper__item
          a.paper__link(href="#") Tourism
        li.paper__item
          a.paper__link(href="#") Visual Arts & Film Studies

      p.text_bold.text_uppercase MEDICAL SCIENCE
      ul.paper__list
        li.paper__item
          a.paper__link(href="#") Health Sciences & Medicine
        li.paper__item
          a.paper__link(href="#") Medical science
        li.paper__item
          a.paper__link(href="#") Nursing

    .subject__col
      p.text_bold.text_uppercase LIFE SCIENCE
      ul.paper__list
        li.paper__item
          a.paper__link(href="#") Anthropology
        li.paper__item
          a.paper__link(href="#") Astronomy
        li.paper__item
          a.paper__link(href="#") Biology

      p.text_bold.text_uppercase SOCIAL SCIENCE
      ul.paper__list
        li.paper__item
          a.paper__link(href="#") Archaeology
        li.paper__item
          a.paper__link(href="#") Culture
        li.paper__item
          a.paper__link(href="#") Gender & Sexual Studies
        li.paper__item
          a.paper__link(href="#") History
        li.paper__item
          a.paper__link(href="#") Law
        li.paper__item
          a.paper__link(href="#") Media
        li.paper__item
          a.paper__link(href="#") People
        li.paper__item
          a.paper__link(href="#") Philosophy
        li.paper__item
          a.paper__link(href="#") Politics
        li.paper__item
          a.paper__link(href="#") Psychology
        li.paper__item
          a.paper__link(href="#") Religion and Theology
        li.paper__item
          a.paper__link(href="#") Science
        li.paper__item
          a.paper__link(href="#") Social science
        li.paper__item
          a.paper__link(href="#") Sociology
