include ../mixins/title

section.free
  .free__wrap
    .free__content
      +titleWhite('Free Essays ', ' Online')

      p.text_white Academic writing is a skill tested by most instructors through assignments. These projects come in different formats and types and are often accompanied by prompts that outline the specific instructions for the students. While some students are able to easily complete their projects, others struggle considerably. If you are unable to get started on your task and need some inspiration, then you are in the right place. In this article, we cover useful tips on how you can write a stellar paper, as well as the important lessons that students can learn from samples of free essays available online. We also highlight places where students can get affordable help with their assignments.

      button.button.free__button FIND A SAMPLE
