include ../mixins/title

.need
  .need__content
    .need__col
      +title('NEED ', 'WRITING HELP?')
      h5 Order professional writing and get a polished paper!

      .need__footer
        ul.list
          li.list__item Private communication
          li.list__item Complete confidentiality
          li.list__item Money Back Guarantee

        button.button.need__btn Grab the best paper

    .need__col
      img.need__img(src='/img/main/wooman.png', alt='')
