.how
  padding: 5rem $padding
  background: url("/img/main/how-bg.svg") no-repeat center/100% $color_light

  &__title
    margin-bottom: 2rem

  &__button
    text-align: center
    margin-top: 1.2rem

    button
      font-size: 1rem
      padding: 1.7rem

    @media #{$media-sm-plus-up}
      margin-top: 5.4rem
      font-size: 1.2rem
