extends partials/layout

block vars
  - var title = "ESSAYS USA";
  - var navigation = "Home";

block content
  include partials/navigation/navigation

  include partials/main/main
  include partials/main/how
  include partials/main/newest
  include partials/main/free
  include partials/main/faq
  include partials/main/wait
